<form #form="ngForm" (ngSubmit)="guardar(form)">

  <div>
    <label>Nombre:</label>
    <input type="text" name="nombre" [(ngModel)]="producto.nombre" required />
  </div>

  <div>
    <label>Código:</label>
    <input type="text" name="codigo" [(ngModel)]="producto.codigo" required />
  </div>

  <div>
    <label>Categoría:</label>
    <input type="text" name="categoria" [(ngModel)]="producto.categoria" required />
  </div>

  <div>
    <label>Precio:</label>
    <input type="number" name="precio" [(ngModel)]="producto.precio" required min="0" step="any" />
  </div>

  <div>
    <label>Stock:</label>
    <input type="number" name="stock" [(ngModel)]="producto.stock" required min="0" />
  </div>

  <div>
    <label>Proveedor:</label>
    <input type="text" name="proveedor" [(ngModel)]="producto.proveedor" />
  </div>

  <div>
    <label>Presentación:</label>
    <input type="text" name="presentacion" [(ngModel)]="producto.presentacion" />
  </div>

 
  <div>
    <label>Imagen:</label>
    <input type="file" name="imagen" (change)="onFileSelected($event)" />
  </div>

  <div>
    <label>Fecha de Vencimiento:</label>
    <input type="date" name="fechaVencimiento" [(ngModel)]="producto.fechaVencimiento" />
  </div>

  <div>
    <button type="submit" [disabled]="form.invalid">{{ esEdicion ? 'Actualizar' : 'Crear' }}</button>
    <button type="button" (click)="cancelar()">Cancelar</button>
  </div>

</form>
